body {
  background-color: #ffc;
  background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/a4b33886128681.5d909dad47ded.jpg), linear-gradient(#ff0, #ffc);
  background-repeat: no-repeat;
  background-position: center 100%;
  background-attachment: fixed;
  background-size: rem, 100%;
}

.grid-line{
    border: 1 px solid black;
  }

h1 {
  font-family: 'Acme';font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  color: white;
}

h2 {
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Cambay';
}

p {
  font-size: 10px;
  text-transform: lowercase;
  font-family: 'Cambay';
}

.wrapper {
  width: 500px;
  display: inline-grid;
  grid-template-columns: 150px;
  grid-template-rows: 150px;
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
}

.box1 {
  font-family: 'Cambay';
  font-size: 22px;
  text-align: center;
  background-color: white;
  max-width: 2000px;
  padding-top: 1rem;
  grid-gap: 1rem;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.box2 {
  font-family: 'Cambay';
  font-size: 22px;
  text-align: center;
  background-color: white;
  max-width: 2000px;
  padding-top: 1rem;
  grid-gap: 1rem;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;   
}

.box3 { 
  font-family: 'Cambay';
  font-size: 22px;
  text-align: center;
  background-color: white;
  max-width: 2000px;
  padding-top: 1rem;
  grid-gap: 1rem;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;   
}

.box4 {
  font-family: 'Cambay';
  font-size: 22px;
  text-align: center;
  background-color: white;
  max-width: 2000px;
  padding-top: 1rem;
  grid-gap: 1rem;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;   
}

.box5 {
  font-family: 'Cambay';
  font-size: 22px;
  text-align: center;
  background-color: white;
  max-width: 2000px;
  padding-top: 1rem;
  grid-gap: 1rem;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;   
}

.box6 {
  font-family: 'Cambay';
  font-size: 22px;
  text-align: center;
  background-color: white;
  max-width: 2000px;
  padding-top: 1rem;
  grid-gap: 1rem;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;   
}
.box7 {
  font-family: 'Cambay';
  font-size: 22px;
  text-align: center;
  background-color: white;
  max-width: 2000px;
  padding-top: 1rem;
  grid-gap: 1rem;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5; 
}
  
.box8 {
  font-family: 'Cambay';
  font-size: 22px;
  text-align: center;
  background-color: white;
  max-width: 2000px;
  padding-top: 1rem;
  grid-gap: 1rem;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;  
}

.box9 {
  font-family: 'Cambay';
  font-size: 22px;
  text-align: center;
  background-color: white;
  max-width: 2000px;
  padding-top: 1rem;
  grid-gap: 1rem;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;  
}

.box10 {
  font-family: 'Cambay';
  font-size: 22px;
  text-align: center;
  background-color: white;
  max-width: 2000px;
  padding-top: 1rem;
  grid-gap: 1rem;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;  
}

.box11 {
  font-family: 'Cambay';
  font-size: 22px;
  text-align: center;
  background-color: white;
  max-width: 2000px;
  padding-top: 1rem;
  grid-gap: 1rem;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6; 
}

.box12 {
  font-family: 'Cambay';
  font-size: 22px;
  text-align: center;
  background-color: white;
  max-width: 2000px;
  padding-top: 1rem;
  grid-gap: 1rem;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 6; 
}



