body {
  background-color: #fcf;
  background-image: url(https://i.pinimg.com/736x/a9/80/22/a98022cdb8b339e11542132b6428ac92.jpg), linear-gradient(#ff0, #ffc);
  background-repeat: no-repeat;
  background-position: center 100%;
  background-attachment: fixed;
  background-size: 100rem, 100%;
}

h1 {
  font-family: 'Acme';font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  color: white;
}

h2 {
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Cambay';
  color: white;
}

p {
  font-size: 15px;
  text-transform: lowercase;
  font-family: 'Cambay';
  color: white;
}

a {
  text-decoration: none;
  font-size: 10px;
  text-transform: lowercase;
  font-family: 'Cambay';
  color: white;
}

.wrapper {
  display: grid;
  
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: auto;
  
  line-height: .3;
  align-items: center;
  
  justify-content: center;
}

.box1 {
  text-align: center;
  border: 2px solid white;
  max-width: 2000px;
  padding-top: 1rem;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.box2 {
  text-align: center;
  border: 2px solid white;
  max-width: 2000px;
  padding-top: 1rem;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;   
}

.box3 { 
  text-align: center;
  border: 2px solid white;
  max-width: 2000px;
  padding-top: 1rem;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;   
}

.box4 {
  text-align: center;
  border: 2px solid white;
  max-width: 2000px;
  padding-top: 1rem;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;   
}

.box5 {
  text-align: center;
  border: 2px solid white;
  max-width: 2000px;
  padding-top: 1rem;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;   
}

.box6 {
  text-align: center;
  border: 2px solid white;
  max-width: 2000px;
  padding-top: 1rem;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;   
}
.box7 {
  text-align: center;
  border: 2px solid white;
  max-width: 2000px;
  padding-top: 1rem;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5; 
}
  
.box8 {
  text-align: center;
  border: 2px solid white;
  max-width: 2000px;
  padding-top: 1rem;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;  
}

.box9 {
  text-align: center;
  border: 2px solid white;
  max-width: 2000px;
  padding-top: 1rem;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;  
}

.box10 {
  text-align: center;
  border: 2px solid white;
  max-width: 2000px;
  padding-top: 1rem;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;  
}

.box11 {
  text-align: center;
  border: 2px solid white;
  max-width: 2000px;
  padding-top: 1rem;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6; 
}

.box12 {
  text-align: center;
  border: 2px solid white;
  max-width: 2000px;
  padding-top: 1rem;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 6; 
}



