html {
  font: 100%/1.15 'Cambay';
  scroll-behavior: smooth;
  padding-top: 20px;
  padding-bottom: 10px;
  box-sizing: border-box;
}

ul {
  width: 300px;
  display: inline-block;
  text-align: center;
  list-style: none;
}

body {
  padding: 0 5%;
  margin: 0 auto;
  max-width: 1400px;
  background-image: url(https://www.xmple.com/wallpaper/linear-gradient-pink-orange-1920x1080-c2-c71585-ff8c00-a-60-f-14.svg), linear-gradient(#ff0, #ffc);
  background-repeat: no-repeat;
  background-position: center 100%;
  background-attachment: fixed;
  background-size: 150rem, 100%;
}

h1 {
  font-family: 'Acme';font-size: 45px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  padding-bottom: 5px;
}

h3 {
  font-family: 'Cambay';font-size: 10px;
  text-transform: lowercase;
  text-align: center;
  color: white;
}

h2 {
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Cambay';
  color: white;
}

h4 {
  font-size: 30px;
  font-family: 'Cambay';
  color: white;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
}

.top {
  font-family: 'Cambay';font-size: 20px;
  text-transform: uppercase;
  text-align: right;
  color: rgb(255, 74, 7);
  padding-top: 5px;
  padding-right: 5px;
  color: white;
}

.intro {
  font-size: 15px;
  font-family: 'Cambay';
  color: white;
  line-height: 1.5;
  max-width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-size: 15px;
  font-family: 'Cambay';
  color: white;
  line-height: 1.5;
  text-align: center;
  max-width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

a {
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  font-family: 'Cambay';
  color: white;
}

hr {
    width: 55%;
     margin-top: 5px;
     margin-bottom: 5px;
     border: 1px solid white;
}

.grid {
  display: grid;
  
  column-gap: .5em;
  row-gap: .5em;
  
  align-content: center;
  justify-content: center;
  
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.7fr 0.7fr 0.7fr;
  line-height: .3;
  margin: auto;
  
  grid-template-areas: 
    "one two three four"
    "five six seven eight"
    "nine ten eleven twelve";
}

@media (max-width: 700px){
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.7fr 0.7fr 0.7fr 0.7fr 0.7fr 0.7fr;
     grid-template-areas: 
       "one two"
       "three four"
       "five six"
       "seven eight"
       "nine ten"
       "eleven twelve";
  }
}

.box1 {
  text-align: center;
  border: 1.5px solid white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  grid-area: one;
}

.box2 {
  text-align: center;
  border: 1.5px solid white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem; 
  grid-area: two;
}

.box3 {
  text-align: center;
  border: 1.5px solid white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  grid-area: three;
}

.box4 {
  text-align: center;
  border: 1.5px solid white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  grid-area: four;
}

.box5 {
  text-align: center;
  border: 1.5px solid white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  grid-area: five;
}

.box6 {
  text-align: center;
  border: 1.5px solid white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  grid-area: six;
}

.box7 {
  text-align: center;
  border: 1.5px solid white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  grid-area: seven;
}
  
.box8 {
  text-align: center;
  border: 1.5px solid white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;  
  grid-area: eight;
}

.box9 {
  text-align: center;
  border: 1.5px solid white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  grid-area: nine;
}

.box10 {
  text-align: center;
  border: 1.5px solid white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;  
  grid-area: ten;
}

.box11 {
  text-align: center;
  border: 1.5px solid white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem; 
  grid-area: eleven;
}

.box12 {
  text-align: center;
  border: 1.5px solid white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  grid-area: twelve;
}

img {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  max-width: 300px;
}

.row {
  display: flex;
  align-content: center;
  justify-content: center; 
  max-width: 1000px;
  padding: 0 5%;
  margin: 0 auto;
  height: auto;
  width: 100%;
} 

/* Create three equal columns that sits next to each other */
.column {
  flex: 33.3%;
  padding: 5px;
  align-content: center;
  justify-content: center;
  width: 350px;
  height: 350px;
  height: auto;
  width: 100%;
}

.one {
  font-size: 15px;
  font-family: 'Cambay'; 
  color: white;
  line-height: 1.5;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.hide-show {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px
}

.hide-show:target {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}


